@import './../../stylesheets/global.scss';

.about-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:700px;
    display: flex;
    justify-content: center;
    align-items: center;
}