
.home-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:700px;
    width: 100%;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

p{font-family:'Open Sans', Sans-Serif;
    justify-content: center;
    align-items: center;
    font-size: 20pt;

}
a.home-link{ font-size: 20pt;
    text-decoration: none;
    color: #FA5C66;
}
a{ 
    text-decoration: none;
    color: #FA5C66;
}

span{
    padding-left:10px; 
    padding-right:10px; 
}